/*图形图库*/
.mainTitle{width:920px;border-bottom:1px solid #d2d2d2;padding-bottom:15px;margin:5px 20px;padding-left:5px;}
.levelIcon{display:inline-block;*display:inline;*zoom:1;font-size:0;width:30px;height:15px;background:url(../imgs/list/bread_crumb.png) no-repeat center;margin:0px 5px;}
.mainCourseBox{padding:10px;}
.courseUl{list-style:none;font-size:0;}
.courseUl li{margin: 10px 9px;display:inline-block;*display:inline;*zoom:1;font-size:14px;width:217px;}
.imgBox{width:180px;height:180px;margin:0 auto;border-radius:5px;padding:5px;}
.imgText{padding:2px;}
.imgText p{line-height:15px;}

/*缩略图列表*/
.listTable{width:100%;margin:auto 10px;margin-top:-8px;}
.listTable td{padding:8px 0px;}
.listTable tr td{vertical-align:middle}
.listTable tr td:first-child{width:10%;}
.listTable tr td:nth-child(2){width:20%}
.listTable tr td:nth-child(4){width:13%}

.listBookTable{width:100%;margin:auto 10px;margin-top:-8px;margin-left:20px;}
.listBookTable td{padding:8px 0px;}
.listBookTable tr td{vertical-align:middle}
.listBookTable tr td:first-child{width:5%;}
.listBookTable tr td:nth-child(2){width:20%}
.listBookTable tr td:nth-child(4){width:13%}

/*home03*/
.commentUl {margin-top:-10px;}
.commentUl li{list-style:none;margin:0px 47px;padding:20px 0px;border-bottom:1px solid #d2d2d2;}
.commentUl li:last-child{border:none;border:0px;}
.commentUl li.lastCommentLi{border:none;border:0px;}
.comment{position:relative;border:1px solid #cacdcf;border-radius:5px;background:rgba(226,226,226,0.5);
*background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fe2e2e2,endColorstr=#7Fe2e2e2);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fe2e2e2, endColorstr=#7Fe2e2e2)";
zoom:1
}
.commentUl li.oddLi .comment h3{border-bottom:1px solid #016dc0;}
.commentUl li.oddLi .comment h3 span{background:#016dc0;}
.commentUl li.evenLi .comment h3{border-bottom:1px solid #f48100;}
.commentUl li.evenLi .comment h3 span{background:#f48100;}
.comment h3 span{display:inline-block;*display:inline;*zoom:1;line-height:40px;line-height:40px;border-top-left-radius:5px;border-top-right-radius:5px;color:#fff;padding:0px 10px;}
.comment p{padding:30px 20px;line-height:25px;font-size:13px;}
.comment .time{position:absolute;top:15px;right:20px;color:#f45702;}

.courseIntroductionIcon{background:url(../imgs/list/course_introduction.png) no-repeat center;}
.courseResponseIcon{background:url(../imgs/list/course_response.png) no-repeat center;}
.courseOutlineIcon{background:url(../imgs/list/course_outline.png) no-repeat center;}
.courseDesignIcon{background:url(../imgs/list/course_design.png) no-repeat center;}
.courseTVIcon{background:url(../imgs/list/course_TV.png) no-repeat center;}
.coursePPTIcon{background:url(../imgs/list/course_PPT.png) no-repeat center;}
.courseProgramIcon{background:url(../imgs/list/course_program.png) no-repeat center;}
.courseBookIcon{background:url(../imgs/list/course_book.png) no-repeat center;}
.courseCalendarIcon{background:url(../imgs/list/course_calendar.png) no-repeat center;}
.evaluationIcon{background:url(../imgs/list/Evaluation.png) no-repeat center;}
.studyGuideIcon{background:url(../imgs/list/study_guide.png) no-repeat center;}
.courseAnimationIcon{background:url(../imgs/list/course_animation.png) no-repeat center;}
.courseRuleIcon{background:url(../imgs/list/course_rule.png) no-repeat center;}
.boolListIcon{background:url(../imgs/list/book_icon_list.png) no-repeat center;}
div.lessionModule>h5>span>.courseBookIcon{width:28px;}

.pagerCourseBox{padding:20px;}
.pagerCourseBox>div.arcticle{margin-top:20px;}
.pagerNum>span{display:block;width:80px;float:left;text-align:center;margin-top:-8px;}
.pagerNum>i{width:415px;border-top:1px solid #b4b4b4;display:block;float:left;}

/*课程中心*/
.lessionModule{padding:0px 20px;}
.lessionModule h5{border-bottom:1px solid #d2d2d2;font-size:0;text-align:center;padding: 12px 0px;}
.lessionModule h5 span{line-height:30px;line-height:30px;position:relative;display:inline-block;*display:inline;*zoom:1;font-size:20px;}
.iIcon{position:absolute;left:-30px;width:20px;height:22px;top:5px;}
.lessionArcticle{padding:50px 40px;font-size:13px;}
.lessionArcticle a{font-size:13px;}
.lessionArcticle>p{line-height:25px;text-indent: 30px;}
.arcticleTableBox{padding:0px 40px;}
.arcticleTableBox>table{border-collapse:collapse;width:100%;}
.arcticleTableBox>table th,.arcticleTableBox>table td{border:1px solid #d2d2d2;line-height:25px;}

.videoModule{padding:0px;}
.videoModule>.lessionArcticle{padding:0px;}
.videoUl{padding: 20px 10px;}
.designUl{list-style:none;}
.designUl li{line-height:20px;height:20px;padding:5px;font-size:16px;}
.designUl li>a{padding-left:40px;position:relative;}
.designLiIcon{width:30px;height:25px;position:absolute;left:0px;top:-5px;}
.videoModule>div.padding20{padding:20px 20px 0px 20px;}

/*垂直导航*/

.verticalNav{position:absolute;list-style:none;left:980px;top:176px;width:150px;} 
.verticalNav li{height:30px;font-size:0;}
.verticalNav li a{display:inline-block;*display:inline;*zoom:1;font-size:14px;line-height:30px;border-left:1px solid #7a7a7a;position:relative;padding-left:10px;}
.verticalCircle{display:block;width:10px;height:10px;border-radius:5px;background-color:#ffffff;position:absolute;top:50%;margin-top:-5px;left:-5px;} 
.verticalAutoCir{background-image:url(../imgs/list/round.png);}
.verticalSelectedCir{background-image:url(../imgs/list/round_0.png);}
.arcticle{padding:10px 40px;}
.arcticle>p{line-height:25px;text-indent: 30px;clear:both;}


/*内容页*/
.mediaBox{width:100%;position:relative;margin:10px auto;margin-bottom:0px;padding:0px 15px;}
.mediaBox>div{width:97%;border:1px solid #d2d2d2;border-radius:5px;overflow:hidden;text-align:center;padding:2px;}
.downMediaUl{list-style:none;position:absolute;top:50%;margin-top:-120px;right:30px;width:76px;height:240px;border-top-left-radius:5px;border-bottom-left-radius:5px;border:1px solid #b6b6b8;border-right:0px;background:rgba(102,102,102,0.2)}
.downMediaUl a{font-size:0;display:block;width:76px;height:80px;}
.downMediaUl a.mediaCollectBtn{border-top:1px solid #b6b6b8;border-bottom:1px solid #b6b6b8;}
.mediaDownBtn{background:url(../imgs/content/download.png) no-repeat center;}
.mediaCollectBtn{background:url(../imgs/content/collect.png) no-repeat center;}
.mediaquizBtn{background:url(../imgs/content/ask.png) no-repeat center;}
.mediaDownBtn:hover{background:url(../imgs/content/download_0.png) no-repeat center;}
.mediaCollectBtn:hover{background:url(../imgs/content/collect_0.png) no-repeat center;}
.mediaquizBtn:hover{background:url(../imgs/content/ask_0.png) no-repeat center;}
.screenIcon{display:block;width:22px;height:22px;background:url(../imgs/content/full_screen.png) no-repeat center;font-size:0;position:absolute;top:10px;right:50px;}
.mediaIntroduction{padding:32px 20px 0px 20px;}
.mediaTitle{border-bottom:1px solid #d2d2d2;margin-bottom:17px;padding:10px;}
.mediaIntroduction>p{text-indent:20px;line-height:25px;font-size:12px;}
.commentBox{padding:43px 20px 0px 20px;}
.mediaTitle{position:relative;}
.commentIcon{display:block;width:24px;height:26px;background:url(../imgs/content/discuss.png) no-repeat center;position:absolute;top:50%;margin-top:-13px;left:65px;}
.commentBox>textarea{width:836px;height:135px;border-radius:5px;display:block;margin:0 auto;}
.mediaTitle>span{display:inline-block;*display:inline;zoom:1;height:20px;padding-left:20px;padding-right:10px;border-left:1px solid #d2d2d2;font-size:16px;}
.mediaTitle>span.font24{padding-left:0px;border-left:0px;font-size:24px;}
.mediaTitle>span.mediaTime{float:right;border-left:0px;margin-top:7px;}
.btn-p{font-size:0;padding: 20px 44px 0px 0px;text-align:right;}
.btn-p>a{display:inline-block;*display:inline;zoom:1;padding:8px 55px;border-radius:5px;font-size:16px;}
.btn-cancel{color:#5f5f5f;margin-right:52px;background:#c8c8c8;}
.btn-sure{color:#fff;background:#45afe4;}
.mediaCommentUl{list-style:none;padding:20px;}
.mediaCommentUl li{border-bottom:1px solid #d2d2d2;padding:18px 38px 14px 38px;position:relative;}
.mediaCommentUl li:last-child{border-bottom:0;}
.mediaCommentUl li>table{width:100%;}
.mediaCommentUl li>table td{vertical-align:middle;color:#3e3e3e;}
.portraitTd{width:10%;text-align:center;}
.portraitTd>span{display:block;}
.mediaTextTd{text-indent:20px;}
.mediaTimeTd{width:10%;}
.mediaBox>div>img{width:100%;}

.arcticle p{font-size:13px;}
.imgText table{width:100%;}
.imgText table td{text-align:center;line-height:22px;height:22px;font-size:12px;}
.imgText table td.imgTitleTd{font-size:15px;}


.mediaCommentUl>span{display:inline-block;*display:inline;*zoom:1;}
.mediaCommentTime{position:absolute;right:40px;top:50%;margin-top:-7px;}
.portraitBox{width:100px;height:100px;text-align:center;}
.mediaCommentText{float:left;}


.lessionDesinTreeUl,.lessionDesinTreeUl ul{list-style:none;}

.lessionDesinTreeUl>li a{padding-left:40px;position:relative;line-height:30px;}
.subTreeUl{margin-left: 23px;}
.subTreeUl .boolListIcon{background:url(../imgs/home/point.png) no-repeat center;opacity:0.6;}

.lessionArcticle a.loadMore{width:192px;height:40px;margin:10px auto;background:#e0e0e0;border-radius:3px;text-align:center;line-height:40px;display:block;font-size:15px;}
.lessionArcticle a.loadMore:hover{color:#ffffff;background:#7f879e;}






